* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

h1{
    grid-column: 1 / 3;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto; /* Esto centrará el contenedor */
    max-width: 100%; /* Puedes ajustar el ancho máximo según tus necesidades */
}

#actualForm {
    grid-column: 1;
    width: 70%;
}

input {
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid;  
}

button {
    border: none;    
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #006d77;
    color: white;
}
